* {
  font-family: 'Lato', sans-serif;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: repeat(9, 80px);
  margin: 20px;
}


.r1,
.r2,
.r3,
.r4,
.r5,
.r6,
.r7,
.r8,
.r9 {
  background-color: rgb(195, 195, 195);
  border: 1px solid black;
  text-align: center;
  align-content: center;
  /* Center number in cells using Flexbox: https://stackoverflow.com/questions/45536537/centering-in-css-grid */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}


/* Ignore for now */

.background {
  /* background: #2b2b2b; */
  background: #0d3629;
}

.title {
  text-align: center;
  font-size: 60px;
  color: #EFBB37;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell:hover {
  /* https://stackoverflow.com/questions/40734464/javascript-backgroundcolor-does-remove-css-hover */
  filter: brightness(85%) !important;
  -webkit-transition: all .3s ease;
}

.cell {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 20px;
}

.newBoard,
.solveBoard {
  cursor: pointer;
  font-size: 30px;
  color: #0D2A36;
  background:#979797;
  border: 0px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.newBoard:hover,
.solveBoard:hover {
  filter: brightness(35%) !important;
  -webkit-transition: all .7s ease;
}

/* Sudoku grid lines */
.left-vertical {
  border-right-width: 5px;
}

.right-vertical {
  border-right-width: 5px;
}

.r3 {
  border-bottom-width: 5px;
}

.r6 {
  border-bottom-width: 5px;
}