* {
  font-family: 'Lato', sans-serif;
}

.background {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  background: #0d3629;
}

@keyframes secondAnimation {
  50% {
    background: rgb(33, 33, 33);
  }
}

.title {
  text-align: center;
  font-size: 80px;
  padding: 10px;
  background-color: black;
  color: rgb(112, 80, 56);
  /* color: #0d3629; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgb(45, 45, 45);
}

.background {
  /* background: aliceblue; */
  /* background: #0d3629; */
  background: rgb(112, 80, 56);
  animation-name: secondAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


.grid-border {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: repeat(9, 80px);
  padding: 5px;
  background-color: black;
  border-width: 5px;

  border-color: black;
}


.r1,
.r2,
.r3,
.r4,
.r5,
.r6,
.r7,
.r8,
.r9 {
  background-color: rgb(195, 195, 195);
  border: 1px solid black;
  text-align: center;
  align-content: center;
  /* Center number in cells using Flexbox: https://stackoverflow.com/questions/45536537/centering-in-css-grid */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}


/* Ignore for now */


.cell:hover {
  /* https://stackoverflow.com/questions/40734464/javascript-backgroundcolor-does-remove-css-hover */
  filter: brightness(85%) !important;
  -webkit-transition: all .3s ease;
  animation-name: scaleCellAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes scaleCellAnimation {
  50% {
    transform: scale(1.2);
  }
}


.cell {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.buttons {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 20px;
}

.newBoard,
.easyBoard,
.mediumBoard,
.hardBoard,
.impossibleBoard,
.solveBoard {
  cursor: pointer;
  font-size: 30px;
  background:#979797;
  border: 0px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.newBoard:hover,
.easyBoard:hover,
.mediumBoard:hover,
.hardBoard:hover,
.impossibleBoard:hover,
.solveBoard:hover {
  filter: brightness(35%) !important;
  -webkit-transition: all .7s ease;
}

/* Sudoku grid lines */
.left-vertical {
  margin-right: 5px;
}

.right-vertical {
  margin-right: 5px;
}

.r3 {
  margin-bottom: 5px;
}

.r6 {
  margin-bottom: 5px;
}